<div class="cardWrapper">
    <p>Password Generator</p>
    <div class="input-container">
        <input id="generatedPw" value="{{ generatedPw }}" placeholder="P4$5W0rD!"/>
        <div class="copy">
            <p class="copied-notice">COPIED</p>
            <svg (click)="copyToClipboard(generatedPw)" (click)="toggleNotice()" class="copyIcon" width="21" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 20"><path d="M20.341 3.091 17.909.659A2.25 2.25 0 0 0 16.319 0H8.25A2.25 2.25 0 0 0 6 2.25V4.5H2.25A2.25 2.25 0 0 0 0 6.75v15A2.25 2.25 0 0 0 2.25 24h10.5A2.25 2.25 0 0 0 15 21.75V19.5h3.75A2.25 2.25 0 0 0 21 17.25V4.682a2.25 2.25 0 0 0-.659-1.591ZM12.469 21.75H2.53a.281.281 0 0 1-.281-.281V7.03a.281.281 0 0 1 .281-.281H6v10.5a2.25 2.25 0 0 0 2.25 2.25h4.5v1.969a.282.282 0 0 1-.281.281Zm6-4.5H8.53a.281.281 0 0 1-.281-.281V2.53a.281.281 0 0 1 .281-.281H13.5v4.125c0 .621.504 1.125 1.125 1.125h4.125v9.469a.282.282 0 0 1-.281.281Zm.281-12h-3v-3h.451c.075 0 .147.03.2.082L18.667 4.6a.283.283 0 0 1 .082.199v.451Z" fill="#A4FFAF"/></svg>
        </div>
    </div>
    <div class="password-controls">
        <div class="charlength">
            <p>Character Length</p>
            <p class="char-length"> {{ charLength }}</p>
        </div>
        <input class="progressBar" type="range" name="char-range" id="char-range" min="0" max="20" [(ngModel)]="charLength" autocomplete="off">
        <div class="criterias">
            <div class="firstcheck">
                <input type="checkbox" name="upperCaseIncluded" [(ngModel)]="upperCaseIncluded">
                <label for="upperCaseIncluded">Include Uppercase Letters</label>
            </div>
            <div class="secondcheck">
                <input type="checkbox" name="lowerCaseIncluded" [(ngModel)]="lowerCaseIncluded">
                <label for="lowerCaseIncluded">Include Lowercase Letters</label>
            </div>
            <div class="thirdcheck">
                <input type="checkbox" name="numbersIncluded" [(ngModel)]="numbersIncluded">
                <label for="numbersIncluded">Include Numbers</label>
            </div>
            <div class="fourthcheck">
                <input type="checkbox" name="symbolsIncluded" [(ngModel)]="symbolsIncluded">
                <label for="symbolsIncluded">Include Symbols</label>
            </div>
        </div>
        <div class="pwStrengthCheck">
            <p>STRENGTH</p>
            <div class="strChecker">
                <p>{{ passwordStrength }}</p>
                <div class="strengthbars">
                    @if(passwordStrength === 'Too Weak'){
                        <div class="bar" style="background: #f64a4a; border-color: #f64a4a;"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    }
                </div>
                <div class="strengthbars">
                    @if(passwordStrength === 'Weak'){
                        <div class="bar" style="background: #fb7c58; border-color: #fb7c58;"></div>
                        <div class="bar" style="background: #fb7c58; border-color: #fb7c58;"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    }
                </div>
                <div class="strengthbars">
                    @if(passwordStrength === 'Medium'){
                        <div class="bar" style="background: #f8cd65; border-color: #f8cd65;"></div>
                        <div class="bar" style="background: #f8cd65; border-color: #f8cd65;"></div>
                        <div class="bar" style="background: #f8cd65; border-color: #f8cd65;"></div>
                        <div class="bar"></div>
                    }
                </div>
                <div class="strengthbars">
                    @if(passwordStrength === 'Strong'){
                        <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                        <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                        <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                        <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                    }
                </div>
            </div>
        </div>
        <button (click)="generatePassword()" (click)="ratePasswordStrength()" (click)="hideNotice()">GENERATE<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 15"><path fill="#24232C" d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"/></svg>
        </button>
    </div>
</div>