
:root{
    --body-bg : #111016;
    --card-bg : #24232b;
    --light-green: #a4ffaf;
    --slider-thumb: #e6e5ed;
    --strenth-check-bg: #18171f;
    --strength-check-range: #facf67;
    --text-color: #efeef4;
    --text-fade: #7b7986;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

